:root{font-size: 16px;}

body {background-color: #eee;}


#page-title {color: rgb(32, 32, 32); font-family: sans-serif; font-size: 5em; cursor: pointer; margin: 0 auto; width: 1035px;}
#paragraph {font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 2em; font-weight: 700; color: rgba(44, 44, 44, 0.897); margin: 0 auto; width: 475px;}
#content {width: 400px; background: #fff; padding: 1.25em; font-family: fantasy; font-size: 1.125em; color: #444; margin: 0 auto; max-height: 273px; overflow: hidden;
     /* Set transitions up. */
    -webkit-transition: max-height 2.7s;
    -moz-transition: max-height 2.7s;
    transition: max-height 2.7s;}
#content.open {max-height: 62.5em; 
    /* Set transitions up. */
    -webkit-transition: max-height 2.7s;
    -moz-transition: max-height 2.7s;
    transition: max-height 2.7s;}

#show-more {background: #1f55eb; color: #fff; font-family: fantasy; display: block; outline: #001449; outline-style: solid; width: 8.75em; font-size: 1.5em; text-transform: uppercase; padding: 0.625em; text-align: center; margin: 1.25em auto; cursor: pointer;}